{
  "env": {
    "production": {
      "plugins": [
        [
          "react-remove-properties",
          {
            "properties": [
              "data-test"
            ]
          }
        ]
      ]
    }
  },
  "presets": [
    "@babel/preset-env",
    "@babel/react"
  ],
  "comments": false
}